body {
    background-color: black;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills {
    font-family: monospace;
    text-align: center;
    position: relative;
    height: 1100px;
    width: 900px;
    background-color: #151320;
    border-radius: 5px;
}
.title {
    color: white;

}
img {
    vertical-align: middle;
}
.skills::before,
.skills::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    top: -15px;
    left: -15px;
    border-radius: 1px;
    background: linear-gradient(45deg,
        #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
        #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff
    );
    background-size: 300%;
    animation: border 12s linear infinite;
}
.skills::after {
    filter: blur(50px);
}

@keyframes border {
    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 300%;
    }
}